* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  padding-left: 0.25em;
  font-size: 1.5em;
  font-family: arial, sans-serif;
}

h1.no-margin {
  margin: 0;
}
