.pull-down {
  bottom: 0;
}

.pull-right {
  float: right;
  right: 0;
}

.pull-left {
  float: left;
}


.stretch-lr {
  position: absolute;
  left: 0;
  right: 0;
}

.stretch-all {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.fixed {
  position: fixed !important;
}

.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}