/*
      ___           ___       ___       ___           ___     
     /\  \         /\__\     /\__\     /\  \         |\__\    
    /::\  \       /:/  /    /:/  /    /::\  \        |:|  |   
   /:/\:\  \     /:/  /    /:/  /    /:/\:\  \       |:|  |   
  /::\~\:\  \   /:/  /    /:/  /    /::\~\:\  \      |:|__|__ 
 /:/\:\ \:\__\ /:/__/    /:/__/    /:/\:\ \:\__\     /::::\__\
 \/__\:\/:/  / \:\  \    \:\  \    \:\~\:\ \/__/    /:/~~/~   
      \::/  /   \:\  \    \:\  \    \:\ \:\__\     /:/  /     
      /:/  /     \:\  \    \:\  \    \:\ \/__/     \/__/      
     /:/  /       \:\__\    \:\__\    \:\__\                  
     \/__/         \/__/     \/__/     \/__/                  
     
      ___           ___           ___           ___           ___     
     /\__\         /\  \         /\__\         /\  \         /\  \    
    /:/  /        /::\  \       /:/  /        /::\  \       /::\  \   
   /:/__/        /:/\:\  \     /:/  /        /:/\ \  \     /:/\:\  \  
  /::\  \ ___   /:/  \:\  \   /:/  /  ___   _\:\~\ \  \   /::\~\:\  \ 
 /:/\:\  /\__\ /:/__/ \:\__\ /:/__/  /\__\ /\ \:\ \ \__\ /:/\:\ \:\__\
 \/__\:\/:/  / \:\  \ /:/  / \:\  \ /:/  / \:\ \:\ \/__/ \:\~\:\ \/__/
      \::/  /   \:\  /:/  /   \:\  /:/  /   \:\ \:\__\    \:\ \:\__\  
      /:/  /     \:\/:/  /     \:\/:/  /     \:\/:/  /     \:\ \/__/  
     /:/  /       \::/  /       \::/  /       \::/  /       \:\__\    
     \/__/         \/__/         \/__/         \/__/         \/__/    


http://www.alleyhouseestudio.com




My simplistic attempts at
												  
	  _|_|      _|_|      _|_|_|    _|_|_|    _|_|_|  
	_|    _|  _|    _|  _|        _|        _|        
	_|    _|  _|    _|  _|          _|_|      _|_|    
	_|    _|  _|    _|  _|              _|        _|  
	  _|_|      _|_|      _|_|_|  _|_|_|    _|_|_|   
			  
breaking from that model for where need be.
                                                 
    
    

  /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_
/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__
\ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / _
 \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ / 
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_
/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__
\ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / _
 \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ / 
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_
/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__


		

		** Dependencies: Pure CSS (responsive rollup) http://purecss.io/
		

\ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / _
 \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ / 
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_
/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__
\ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / _
 \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ / 
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_
/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \__
\ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / _
 \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ /  \ \____/ / 
 / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \__/ / __ \ \_



                _       _     _           
__   ____ _ _ __(_) __ _| |__ | | ___  ___ 
\ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 \ V / (_| | |  | | (_| | |_) | |  __/\__ \
  \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*/



$font-stack: "Roboto","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary-dark: #222;
$primary-light: #fff;
$mid-tone: #666;
$mid-light: #ddd;
$highlight: #00A86B; //green!
$base-size: 16px;
$reader-size: 1.25em;
$mobile-break: 30em;
$tablet-break: 48em;
$desktop-break: 81.25em;

/*

 _                            _       
(_)_ __ ___  _ __   ___  _ __| |_ ___ 
| | '_ ` _ \| '_ \ / _ \| '__| __/ __|
| | | | | | | |_) | (_) | |  | |_\__ \
|_|_| |_| |_| .__/ \___/|_|   \__|___/
            |_|                       
*/


@import 'border';
@import 'dark';
@import 'debug';
@import 'menu';
@import 'margin';
@import 'padding';
@import 'positioners';
@import 'queries';
@import 'text';
@import 'zs';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: url('https://raw.githubusercontent.com/johnmccartin/johnmccartin.github.io/master/img/brillant.png') repeat fixed $primary-light;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: $font-stack;
	font-weight: 100;
}

::selection {
  background: $highlight;
  color: $primary-light;
}
::-moz-selection {
  background: $highlight;
  color: $primary-light;
}

body{
	color: $highlight;
}
a {
  color: $highlight;
  
}

a:hover {
  background: $highlight;
  color: $primary-light;
}

.link-on-dark {
  color: $primary-light;
}

.link-no-decor {
  text-decoration: none;
}


.pure-g > div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.layout {
  position: relative;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 4px solid $highlight;
  background: $primary-light;
  padding: .5em;
  
  img {
    width: 100%;
  }
}

.inner {
  width: auto;
  padding: 1em;
}



.reader {
  width: 100%;
  max-width: 600px;
  font-size: 1.2em;
}





.post {

}

.ptitle {
  margin-top: 0;
  font-size: 2em;
}

.branding {
   background: transparent;
   color: $highlight;
   margin-top: -2.2em;
   
   h1 {
     display: block;
     background: transparent;
     
     
     a {
       background: $highlight;
       color: $primary-light;
       padding: 0;
       
       &:hover {
         background: $highlight;
       color: $primary-light;
       box-shadow: 0 0 3px $highlight;
       }
     }
   }
}


.post-list {
  padding: 0;
  margin: 0;
  
  li {
    
    outline: 0px solid lighten($primary-dark,20%);
    position: relative;
    top: -1px;
    list-style: none;
    font-size: 1.3em;
 
    
    a {
      width: 100%;
      height: 100%;
      display: block;
      transition: all .2s linear;
      text-decoration: none;
      font-weight: 300;
      &:hover {
        color: $primary-light;
      }
    }
    
    
    
  }
}

.recent-heading {
  font-size: 1.2em;
  font-weight: 100;
}

@media screen and (min-width: 48em) {

  .layout {
    width: 90%;
    border: 8px solid $highlight;
  }
  .branding h1 a {
    padding: 0 2em;
  }
}
